{{ define "main" }}
<content>

  {{.Content}}

  {{ if not .Params.hideDirectory }}

    <ul class="blog-posts">
      {{ range .Pages }}
      <li>
        <span>
          {{ if not .Date.IsZero }}
            <i>
              <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                {{ .Date.Format "2006-01-02" }}
              </time>
            </i>
          {{ end }}
        </span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ else }}
      <li>
        {{ i18n "emptyList" }}
      </li>
      {{ end }}
    </ul>

  {{ end }}

</content>
{{ end }}
