{{ define "main" }}
<content>

  {{.Content}}

  {{ if not .Params.hideDirectory }}

    <!-- Check whether this is a taxonomy page. -->
    {{ if .Data.Singular }}
    <h3 style="margin-bottom:0">{{ i18n "introduceTaxonomyLabel" }} "{{ .Title }}"</h3>
    <small>
      <a href="{{ "/blog" | relURL }}">{{ i18n "removeFilter" }}</a>
    </small>
    {{ end }}

    <ul class="blog-posts">
      {{ range .Pages }}
      <li>
        <span>
          {{ if not .Date.IsZero }}
            <i>
              <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                {{ .Date.Format "2006-01-02" }}
              </time>
            </i>
          {{ end }}
        </span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ else }}
      <li>
        {{ i18n "emptyList" }}
      </li>
      {{ end }}
    </ul>

    <!-- Check whether this is a taxonomy page. -->
    {{ if .Data.Singular }}
    {{else}}
      <small>
        <div>
          {{ range .Site.Taxonomies.tags }}
          <a href="{{ .Page.RelPermalink }}">#{{ .Page.Title }}</a>&nbsp;
          {{ end }}
        </div>
      </small>
    {{ end }}

  {{ end }}

</content>
{{ end }}
