{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time
      datetime='{{ .Date.Format "2006-01-02" }}'
      pubdate
      title="{{ i18n "lastModifiedOn" }} {{ .Lastmod.Format "2006-01-02" }}">
      {{ i18n "postedOn" }} {{ .Date.Format "2006-01-02" }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ if eq .Type "blog" }}
  {{ template "_internal/disqus.html" . }}
{{ end }}
{{ end }}
