{{ if .IsNamedParams }}
  <video
    {{ if eq (.Get "controls") false }}{{ else }}controls{{ end }}
    {{ if .Get "autoplay"}}autoplay muted="true"{{ end }}
    src="{{ .Get "src" }}"
    type="{{ .Get "type" }}">
    {{ i18n "videoPlayerAltTextBeforeLink" }}
    <a href="{{ .Get "src" }}">
      {{ if (.Get "alt") }}
          {{ i18n "videoPlayerLinkAltTextWithParamAlt" (dict "paramAltText" (.Get "alt")) }}
      {{ else }}
          {{ i18n "videoPlayerLinkAltTextWithoutParamAlt" }}
      {{ end }}
    </a>
    {{ i18n "videoPlayerAltTextAfterLink"}}
  </video>
{{ else }}
  <video
    controls
    src="{{ .Get 0 }}">
    {{ i18n "videoPlayerAltTextBeforeLink"}}
    <a href="{{ .Get 0 }}">
    {{ if len .Params | eq 2 }}
        {{ i18n "videoPlayerLinkAltTextWithParamAlt" (dict "paramAltText" (.Get 1)) }}
    {{ else }}
        {{ i18n "videoPlayerLinkAltTextWithoutParamAlt" }}
    {{ end }}
    </a>
    {{ i18n "videoPlayerAltTextAfterLink"}}
  </video>
{{ end }}
